
$sizes: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
  );

  @mixin media($minmax, $media) {

    @each $size,
    $resolution in $sizes {
        @if $media==$size {
            @media screen and (#{$minmax}-width: $resolution) {
                @content;
            }
        }
    }
}